In [1]:
import pandas as pd
import numpy as np
!pip install yfinance
import yfinance as yf
import matplotlib.pyplot as plt

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: numpy>=1.15 in /Users/viktorcikojevic/miniforge3/envs/env_tf/lib/python3.9/site-packages (from yfinance) (1.21.6)
Requirement already satisfied: requests>=2.26 in /Users/viktorcikojevic/miniforge3/envs/env_tf/lib/python3.9/site-packages (from yfinance) (2.27.1)
Requirement already satisfied: pandas>=0.24.0 in /Users/viktorcikojevic/miniforge3/envs/env_tf/lib/python3.9/site-packages (from yfinance) (1.4.2)
Collecting multitasking>=0.0.7
  Downloading multitasking-0.0.10.tar.gz (8.2 kB)
  Preparing metadata (setup.py) ... done
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0.tar.gz (3.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.2/3.2 MB 11.8 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/viktorcikojevic/miniforge3/envs/env_tf/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/viktorcikojevic/miniforge3/envs/env_tf/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: idna<4,>=2.5 in /Users/viktorcikojevic/miniforge3/envs/env_tf/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/viktorcikojevic/miniforge3/envs/env_tf/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/viktorcikojevic/miniforge3/envs/env_tf/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in /Users/viktorcikojevic/miniforge3/envs/env_tf/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: six>=1.5 in /Users/viktorcikojevic/miniforge3/envs/env_tf/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.24.0->yfinance) (1.16.0)
Building wheels for collected packages: lxml, multitasking
  Building wheel for lxml (setup.py) ... done
  Created wheel for lxml: filename=lxml-4.8.0-cp39-cp39-macosx_11_0_arm64.whl size=1438932 sha256=257910300d2debc18dc760867447914a861b55ac5f7eabadc95498fda0e3bf0c
  Stored in directory: /Users/viktorcikojevic/Library/Caches/pip/wheels/16/8f/83/00db00dbf8e5bf5794152a315e21beec1e43fb55c884454a89
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.10-py3-none-any.whl size=8500 sha256=1c2267d36e19d28fdbe0bc530b9636bd8929f18118cf94a9ae864ebe6e4e8186
  Stored in directory: /Users/viktorcikojevic/Library/Caches/pip/wheels/f2/b5/2c/59ba95dcf854e542944c75fe3da584e4e3833b319735a0546c
Successfully built lxml multitasking
Installing collected packages: multitasking, lxml, yfinance
Successfully installed lxml-4.8.0 multitasking-0.0.10 yfinance-0.1.70

In [2]:
# Download data
df = yf.download('^GSPC', start='1921-02-01', end='2022-5-01')

[*********************100%***********************]  1 of 1 completed

In [3]:
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1927-12-30,17.660000,17.660000,17.660000,17.660000,17.660000,0
1928-01-03,17.760000,17.760000,17.760000,17.760000,17.760000,0
1928-01-04,17.719999,17.719999,17.719999,17.719999,17.719999,0
1928-01-05,17.549999,17.549999,17.549999,17.549999,17.549999,0
1928-01-06,17.660000,17.660000,17.660000,17.660000,17.660000,0
...,...,...,...,...,...,...
2022-04-25,4255.339844,4299.020020,4200.819824,4296.120117,4296.120117,4061070000
2022-04-26,4278.140137,4278.140137,4175.040039,4175.200195,4175.200195,3760420000
2022-04-27,4186.520020,4240.709961,4162.899902,4183.959961,4183.959961,3876340000
2022-04-28,4222.580078,4308.450195,4188.629883,4287.500000,4287.500000,3969440000
2022-04-29,4253.750000,4269.680176,4124.279785,4131.930176,4131.930176,3943480000

In [4]:
df.to_csv("sp500-data.csv")